# Clean Data

#### Imports

In [1]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Import the csv module
import csv

# Import and read the file with a with statement
with open('games.csv', 'r') as file:
    reader = csv.reader(file)

df = pd.read_csv('games.csv', sep=',')

#### Get csv file

In [3]:
# Drop Columns
df = df.drop(['Unnamed: 10'], axis=1)
df = df.drop(['metacritic'], axis=1)

In [4]:
df_genre = df['genre'].str.get_dummies('-')
df = pd.concat([df[:], df_genre[:]], axis=1)


df_tags = df['tags'].str.get_dummies('-')
df = pd.concat([df[:], df_tags[:]], axis=1)


df_platforms = df['platforms'].str.get_dummies('-')
df = pd.concat([df[:], df_platforms[:]], axis=1)

In [5]:
df = df.drop(['genre'], axis=1)
df = df.drop(['tags'], axis=1)
df = df.drop(['platforms'], axis=1)
series = df['series']
df = df.drop(['series'], axis=1)
df

,id,name,released,rating,playtime,Action,Adventure,Arcade,Board Games,Card,...,Web,Wii,Wii U,Xbox,Xbox 360,Xbox One,Xbox Series S/X,bit,iOS,macOS
0,12341.0,King Arthur's Gold,2013-11-04,2.90,2.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3498.0,Grand Theft Auto V,2013-09-17,4.47,73.0,1,1,0,0,0,...,0,0,0,0,1,1,1,0,0,0
2,3328.0,The Witcher 3: Wild Hunt,2015-05-18,4.66,46.0,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,4200.0,Portal 2,2011-04-18,4.62,11.0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
4,5286.0,Tomb Raider (2013),2013-03-05,4.05,10.0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,43811.0,Castle of no Escape,2017-06-22,1.33,3.0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9956,43426.0,Dying Light: The Following,2016-02-09,3.96,0.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9957,39108.0,Fallout 3: Operation Anchorage,2009-01-27,3.65,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9958,38140.0,Soldier of Fortune: Payback,2007-11-12,2.51,1.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9959,32062.0,Sid Meier's Civilization,1991-08-30,4.22,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df = df.dropna()
names = df['name']
df = df.drop(['name'], axis=1)
ids = df['id']
df = df.drop(['id'], axis=1)
df.isna().sum()

released           0
rating             0
playtime           0
Action             0
Adventure          0
                  ..
Xbox One           0
Xbox Series S/X    0
bit                0
iOS                0
macOS              0
Length: 1992, dtype: int64

In [7]:
from dateutil import parser

df['released'] = df['released'].apply(lambda x: int(parser.parse(x).timestamp()))

In [8]:
df_max_scaled = df.copy()
num_cols = ['released', 'rating', 'playtime']

for column in num_cols:
  df_max_scaled[column] = df_max_scaled[column] / df_max_scaled[column].abs().max()

df_scaled = df_max_scaled

In [9]:
series = series.iloc[:, :-1]
df_scaled['series'] = series;
df_scaled['name'] = names;
df_scaled['id'] = ids;

In [11]:
df_scaled.dtypes.to_csv('data_types', header=False)

In [10]:
df_scaled

,released,rating,playtime,Action,Adventure,Arcade,Board Games,Card,Casual,Educational,...,Xbox,Xbox 360,Xbox One,Xbox Series S/X,bit,iOS,macOS,series,name,id
0,0.811938,0.596708,0.002222,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,NaN,King Arthur's Gold,12341.0
1,0.809502,0.919753,0.081111,1,1,0,0,0,0,0,...,0,1,1,1,0,0,0,5200-4459-4059-4058-416-430-432-52997-52998,Grand Theft Auto V,3498.0
2,0.840331,0.958848,0.051111,1,1,0,0,0,0,0,...,0,0,1,1,0,0,0,813543-244722-23557-6400-28454-35358-39074-871152,The Witcher 3: Wild Hunt,3328.0
3,0.764731,0.950617,0.012222,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,50675-13536,Portal 2,4200.0
4,0.799566,0.833333,0.011111,1,1,0,0,0,0,0,...,0,1,1,0,0,0,1,51329-7689-700-1875-3474-4882-4869-5297-25045-...,Tomb Raider (2013),5286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,0.879170,0.273663,0.003333,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,NaN,Castle of no Escape,43811.0
9956,0.853871,0.814815,0.000000,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,NaN,Dying Light: The Following,43426.0
9957,0.723612,0.751029,0.000000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,NaN,Fallout 3: Operation Anchorage,39108.0
9958,0.701200,0.516461,0.001111,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,29859-31605,Soldier of Fortune: Payback,38140.0
9959,0.401131,0.868313,0.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,10297-13633-13780-17380-32060,Sid Meier's Civilization,32062.0

#### Close file

In [12]:
df_scaled.to_csv("clean_data.csv", index=False)