# Clean Data

#### Imports

In [1]:
# Import pandas and numpy
import pandas as pd
import numpy as np

#### Get csv file

In [2]:
# Import the csv module
import csv

# Import and read the file with a with statement
with open('games.csv', 'r') as file:
    reader = csv.reader(file)

df = pd.read_csv('games.csv')

In [3]:
# Drop Columns
df = df.drop(['Unnamed: 10'], axis=1)
df = df.drop(['metacritic'], axis=1)

In [4]:
# Split the tags column by spaces
df['tags'] = df['tags'].str.split('-')


# Split the tags column by spaces
df['genre'] = df['genre'].str.split('-')


df = df.explode(['genre'])
df = df.explode(['tags'])

In [8]:
df ['genre'] = df ['genre'].apply(
    lambda x: [] if isinstance (x, float) else x) 

df ['tags'] = df ['tags'].apply(
    lambda x: [] if isinstance (x, float) else x) 

df['genre'] = df['genre'].apply(tuple) 
df['tags'] = df['tags'].apply(tuple)

In [12]:
xd = df.assign (
    genre=df ['genre'].str.split ('-'),
    tags=df ['tags'].str.split ('-')
).explode ( ['genre', 'tags'])

In [7]:
# Drop non-english tag
columns_to_drop = list(df.columns[df.columns.get_loc('tags_zoo')+1:])
df = df.drop(columns_to_drop, axis=1)
print(df.shape)

KeyError: 'tags_zoo'

In [5]:
def combine_tags(x): 
    if 'Dark Humor' in x: 
        return 'tags_Dark Comedy' 
    else: 
        return x
    
df.columns = df.columns.to_series().apply(combine_tags)

print(df.columns)

Index(['id', 'name', 'released', 'rating', 'platforms', 'series', 'playtime',
       'genre_Action', 'genre_Adventure', 'genre_Arcade',
       ...
       'tags_xna', 'tags_yono', 'tags_your', 'tags_youtube', 'tags_zach',
       'tags_zachlike', 'tags_zachtronics', 'tags_zelda', 'tags_zen',
       'tags_zoo'],
      dtype='object', length=1921)

In [6]:
def combine_tags(x): 
    if 'Ludum Dare' in x: 
        return 'tags_Ludum_Dare' 
    else: 
        return x
    
df.columns = df.columns.to_series().apply(combine_tags)

print(df.columns)

Index(['id', 'name', 'released', 'rating', 'platforms', 'series', 'playtime',
       'genre_Action', 'genre_Adventure', 'genre_Arcade',
       ...
       'tags_xna', 'tags_yono', 'tags_your', 'tags_youtube', 'tags_zach',
       'tags_zachlike', 'tags_zachtronics', 'tags_zelda', 'tags_zen',
       'tags_zoo'],
      dtype='object', length=1921)

In [7]:
df.columns = df.columns.str.lower()

In [11]:
df.dtypes.to_csv('data_types.csv', header=False)

In [9]:
df['rating'].isna().sum()

In [10]:
df['rating'] = (df['rating'] - df['rating'].mean())/df['rating'].std()

In [12]:
df['playtime'] = (df['playtime'] - df['playtime'].mean())/df['playtime'].std()
print(df['playtime'])

0      -0.215637
0      -0.215637
0      -0.215637
0      -0.215637
0      -0.215637
          ...
9959   -0.455764
9959   -0.455764
9959   -0.455764
9959   -0.455764
9959   -0.455764
Name: playtime, Length: 348357, dtype: float64

In [13]:
df['playtime'].describe()

count    3.483570e+05
mean    -1.958109e-18
std      1.000000e+00
min     -4.557644e-01
25%     -3.357008e-01
50%     -9.557364e-02
75%      2.448993e-02
max      1.076014e+02
Name: playtime, dtype: float64

In [18]:
df.head()

,id,name,released,rating,platforms,series,playtime,genre_action,genre_adventure,genre_arcade,...,tags_xna,tags_yono,tags_your,tags_youtube,tags_zach,tags_zachlike,tags_zachtronics,tags_zelda,tags_zen,tags_zoo
0,12341.0,King Arthur's Gold,2013-11-04,-0.09007,macOS-PC-Linux,Unnamed: 5,-0.215637,True,False,False,...,False,False,False,False,False,False,False,False,False,False
0,12341.0,King Arthur's Gold,2013-11-04,-0.09007,macOS-PC-Linux,Unnamed: 5,-0.215637,False,False,False,...,False,False,False,False,False,False,False,False,False,False
0,12341.0,King Arthur's Gold,2013-11-04,-0.09007,macOS-PC-Linux,Unnamed: 5,-0.215637,False,False,False,...,False,False,False,False,False,False,False,False,False,False
0,12341.0,King Arthur's Gold,2013-11-04,-0.09007,macOS-PC-Linux,Unnamed: 5,-0.215637,True,False,False,...,False,False,False,False,False,False,False,False,False,False
0,12341.0,King Arthur's Gold,2013-11-04,-0.09007,macOS-PC-Linux,Unnamed: 5,-0.215637,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Close file

In [ ]:
file.close()