# Clean Data

#### Imports

In [1]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Import the csv module
import csv

# Import and read the file with a with statement
with open('games.csv', 'r') as file:
    reader = csv.reader(file)

df = pd.read_csv('games.csv', sep=',')

#### Get csv file

In [3]:
# Drop Columns
df = df.drop(['Unnamed: 10'], axis=1)
df = df.drop(['metacritic'], axis=1)

In [4]:
df_genre = df['genre'].str.get_dummies('-')
df = pd.concat([df[:], df_genre[:]], axis=1)


df_tags = df['tags'].str.get_dummies('-')
df = pd.concat([df[:], df_tags[:]], axis=1)


df_platforms = df['platforms'].str.get_dummies('-')
df = pd.concat([df[:], df_platforms[:]], axis=1)

In [5]:
df = df.drop(['genre'], axis=1)
df = df.drop(['tags'], axis=1)
df = df.drop(['platforms'], axis=1)
series = df['series']
df = df.drop(['series'], axis=1)
df

,id,name,released,rating,playtime,Action,Adventure,Arcade,Board Games,Card,...,Web,Wii,Wii U,Xbox,Xbox 360,Xbox One,Xbox Series S/X,bit,iOS,macOS
0,12341.0,King Arthur's Gold,2013-11-04,2.90,2.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3498.0,Grand Theft Auto V,2013-09-17,4.47,73.0,1,1,0,0,0,...,0,0,0,0,1,1,1,0,0,0
2,3328.0,The Witcher 3: Wild Hunt,2015-05-18,4.66,46.0,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,4200.0,Portal 2,2011-04-18,4.62,11.0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
4,5286.0,Tomb Raider (2013),2013-03-05,4.05,10.0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,43811.0,Castle of no Escape,2017-06-22,1.33,3.0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9956,43426.0,Dying Light: The Following,2016-02-09,3.96,0.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9957,39108.0,Fallout 3: Operation Anchorage,2009-01-27,3.65,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9958,38140.0,Soldier of Fortune: Payback,2007-11-12,2.51,1.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9959,32062.0,Sid Meier's Civilization,1991-08-30,4.22,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df = df.dropna()

In [7]:
df['rating'] = (df['rating'] - df['rating'].mean())/df['rating'].std()

C:\Users\andre\AppData\Local\Temp\ipykernel_26000\3992767191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = (df['rating'] - df['rating'].mean())/df['rating'].std()

In [8]:
df['playtime'] = (df['playtime'] - df['playtime'].mean())/df['playtime'].std()
print(df['playtime'])

0      -0.136826
1       5.106939
2       3.112831
3       0.527876
4       0.454021
          ...
9955   -0.062970
9956   -0.284538
9957   -0.284538
9958   -0.210682
9959   -0.284538
Name: playtime, Length: 9804, dtype: float64

C:\Users\andre\AppData\Local\Temp\ipykernel_26000\1785298778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['playtime'] = (df['playtime'] - df['playtime'].mean())/df['playtime'].std()

In [9]:
from dateutil import parser
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
df['released'] = df['released'].apply(lambda x: int(parser.parse(x).timestamp()))
df['released'] = scaler.fit_transform(df['released'].values.reshape(-1, 1))
df.head()

C:\Users\andre\AppData\Local\Temp\ipykernel_26000\1668881488.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['released'] = df['released'].apply(lambda x: int(parser.parse(x).timestamp()))
C:\Users\andre\AppData\Local\Temp\ipykernel_26000\1668881488.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['released'] = scaler.fit_transform(df['released'].values.reshape(-1, 1))

,id,name,released,rating,playtime,Action,Adventure,Arcade,Board Games,Card,...,Web,Wii,Wii U,Xbox,Xbox 360,Xbox One,Xbox Series S/X,bit,iOS,macOS
0,12341.0,King Arthur's Gold,0.769212,-0.084234,-0.136826,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3498.0,Grand Theft Auto V,0.766222,1.335551,5.106939,1,1,0,0,0,...,0,0,0,0,1,1,1,0,0,0
2,3328.0,The Witcher 3: Wild Hunt,0.804054,1.507373,3.112831,1,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,4200.0,Portal 2,0.711279,1.471200,0.527876,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
4,5286.0,Tomb Raider (2013),0.754029,0.955736,0.454021,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,1

In [11]:
series = series.iloc[:, :-1]
df['series'] = series;

C:\Users\andre\AppData\Local\Temp\ipykernel_26000\3984988543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['series'] = series;

In [13]:
df.dtypes.to_csv('data_types', header=False)

#### Close file

In [14]:
df.to_csv("clean_data.csv", index=False)

In [12]:
df

,id,name,released,rating,playtime,Action,Adventure,Arcade,Board Games,Card,...,Wii,Wii U,Xbox,Xbox 360,Xbox One,Xbox Series S/X,bit,iOS,macOS,series
0,12341.0,King Arthur's Gold,0.769212,-0.084234,-0.136826,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NaN
1,3498.0,Grand Theft Auto V,0.766222,1.335551,5.106939,1,1,0,0,0,...,0,0,0,1,1,1,0,0,0,5200-4459-4059-4058-416-430-432-52997-52998
2,3328.0,The Witcher 3: Wild Hunt,0.804054,1.507373,3.112831,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,813543-244722-23557-6400-28454-35358-39074-871152
3,4200.0,Portal 2,0.711279,1.471200,0.527876,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,50675-13536
4,5286.0,Tomb Raider (2013),0.754029,0.955736,0.454021,1,1,0,0,0,...,0,0,0,1,1,0,0,0,1,51329-7689-700-1875-3474-4882-4869-5297-25045-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,43811.0,Castle of no Escape,0.851718,-1.504019,-0.062970,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
9956,43426.0,Dying Light: The Following,0.820671,0.874347,-0.284538,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN
9957,39108.0,Fallout 3: Operation Anchorage,0.660818,0.594008,-0.284538,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,NaN
9958,38140.0,Soldier of Fortune: Payback,0.633315,-0.436919,-0.210682,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,29859-31605
9959,32062.0,Sid Meier's Civilization,0.265071,1.109471,-0.284538,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,10297-13633-13780-17380-32060